

<script type="text/javascript">
	$( document ).ready(function() {
    	console.log( "ready!" );
    	$(function(){  
 		  $('#masonry-container').masonry({
 		    itemSelector: '.box',
 		    columnWidth: 120,
 		    isAnimated: !Modernizr.csstransitions,
 		    isFitWidth: true
 		  });
		});


    	//  vote effect js
		var voted = false;
		
		$('.check').click(function(){
		  if(voted)reset();
		});
		
		$('.up').click(function(){
		  console.log("click up");
		  $(this).addClass('scaleDown');
		  $('.down').addClass('scaleDown');
		  $('.check').attr("class","check votedUp fa fa-arrow-up");
      $('.check').html("voted");
		  voted = true;
		});
		
		$('.down').click(function(){
		  $(this).addClass('scaleDown');
		  $('.up').addClass('scaleDown');
		  $('.check').attr("class","check votedDown fa fa-arrow-down")
      $('.check').html("voted");
		  voted = true;
		});
		
		function reset(){
		    $('.scaleDown').removeClass('scaleDown');
		    $('.check').removeClass('ok');
		    voted = false;
		   
		}


		//  tagging stuff
		new Taggle('oldTag', {
		    tags: ['These', 'are', 'old']
		});
		$('#oldTag > .taggle_list').css("height","30px"); 
		$('#oldTag .taggle_li_input_class').remove();     //  remove input area
    $('#oldTag ul li').each(function( index ) {       //  remove "close" button 
       $(this).find('a').remove();
       $(this).css('background-color',"#89C4F4");
       $(this).find('span').css('color','white');
    });

		new Taggle('newTag');
		$('#newTag > .taggle_placeholder').remove();
		$('#newTag ul .taggle_li_input_class input').attr("placeholder","tag it!");
    $('#newTag ul li input').css('height',"30px");
	});







</script>
<style type="text/css">
.masonry {
  background: #EEE;
  /*max-width: 840px;*/
}

#masonry-container {
  background: #FFF;
  /*padding: 5px;*/
  /*margin-bottom: 20px;*/
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


.box img{
	/*padding: 5px;*/
}

</style>


<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Homepage</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class=""><a href="#" style="color:red">NSFW</a></li>
      <li class="divider"></li>
      <li class="active">
        <a href="#" style="font-family: 'Comic Sans MS', cursive, sans-serif;
">Funny</a>
      </li>
      <li class="divider"></li>
      <li class="active">
        <a href="#" style="font-family: 'Comic Sans MS', cursive, sans-serif;
">Cute</a>
      </li>
      <li class="divider"></li>
      <li class="active">
        <a href="#" style="font-family: 'Comic Sans MS', cursive, sans-serif;
">Creepy</a>
      </li>

      <li class="has-form">
	    <div class="row collapse">
	      <div class="large-8 small-9 columns">
	        <input type="text" placeholder="Find by tag..">
	      </div>
	      <div class="large-4 small-3 columns">
	        <a href="#" class="success button expand">Search</a>
	      </div>
	    </div>
	  </li>

    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Submit</a></li>
      

    </ul>
  </section>
</nav>


<div id="container" class="transitions-enabled centered clearfix masonry">
  <div class="box col3">
  	<ul class="grid cs-style-2">
      <li>
   	    <figure>
		      <img src="http://codropspz.tympanus.netdna-cdn.com/codrops/wp-content/uploads/2013/06/CaptionHoverEffect31.png" alt="CaptionHoverEffect3" width="814" height="331" class="alignnone size-full wp-image-15511">

          <figcaption>
            <div class="row" style="max-height:100%">
              <div 	class="small-12 large-12 columns" style="max-height:90px;padding-left:2%;padding-right:2%">

            	  <div class="row" style="height:27px">
            		  <div class="small-12 large-12 columns" style="padding-left:2px; padding-right:2px; height:inherit">
            		    <div id="oldTag">
            		    </div>
					        </div>
            	  </div>

            	  <div class="row" style="height:27px">
            		  <div class="small-12 large-12 columns" style="margin-top:3px;padding-left:2px; padding-right:2px; padding-top:2px; height:inherit">
            		    <div id="newTag">
						        </div>
				      	  </div>
            	  </div>

            	  <div class="row" style="margin-right:7px;max-height:30px">

            		  <div class="small-4 large-4 columns" style="padding-left:2px; padding-right:2px; height:inherit; float:right">
            			  <div class="up fa fa-thumbs-up" ></div>
				      		  <div class="down fa fa-thumbs-down"></div>
				      		  <div class="check"></div>
            		  </div>

                  <div class="small-2 large-2 columns" style="padding-left:2px; padding-right:2px; height:inherit; float:right">
                    <div class="report fa fa-trash" ></div>
                  </div>
                </div>
  
              </div>
			      </div>		
          </figcaption>

        </figure>
      </li>
      <li>
        <figure>
          <img src="http://img.redocn.com/201010/3/599750_1286086064SSce.jpg" alt="image1"/>

          <figcaption>
            <div class="row" style="max-height:100%">
              <div  class="small-12 large-12 columns" style="max-height:90px;padding-left:2%;padding-right:2%">

                <div class="row" style="height:27px">
                  <div class="small-12 large-12 columns" style="padding-left:2px; padding-right:2px; height:inherit">
                    <div id="oldTag">
                    </div>
                  </div>
                </div>

                <div class="row" style="height:27px">
                  <div class="small-12 large-12 columns" style="margin-top:3px;padding-left:2px; padding-right:2px; padding-top:2px; height:inherit">
                    <div id="newTag">
                    </div>
                  </div>
                </div>

                <div class="row" style="margin-right:7px;max-height:30px">

                  <div class="small-4 large-4 columns" style="padding-left:2px; padding-right:2px; height:inherit; float:right">
                    <div class="up fa fa-thumbs-up" ></div>
                    <div class="down fa fa-thumbs-down"></div>
                    <div class="check"></div>
                  </div>

                  <div class="small-2 large-2 columns" style="padding-left:2px; padding-right:2px; height:inherit; float:right">
                    <div class="report fa fa-trash" ></div>
                  </div>
                </div>
  
              </div>
            </div>    
          </figcaption>

        </figure>
      </li>





    <a href="#" title="image1">
      <img src="http://img.redocn.com/201010/3/599750_1286086064SSce.jpg" alt="image1"/>
    </a>
    <a href="#" title="image2">
      <img src="http://cdn.duitang.com/uploads/item/201205/29/20120529130211_CwrUP.thumb.700_0.jpeg" alt="image2"/>
    </a> 
    <a href="http://www.flickr.com/photos/nemoorange/3319714470/" title="Whitlow's on Wilson by nemoorange, on Flickr">
      	<img src="http://farm4.static.flickr.com/3008/3319714470_c05a5cb5a8_m.jpg" alt="Whitlow's on Wilson" />
    </a>
  </div>

  <div class="box col3">
  	<a href="#" title="image2">
      <img src="http://cdn.duitang.com/uploads/item/201205/29/20120529130211_CwrUP.thumb.700_0.jpeg" alt="image2"/>
    </a>
    <a href="http://www.flickr.com/photos/nemoorange/3319714470/" title="Whitlow's on Wilson by nemoorange, on Flickr">
      	<img src="http://farm4.static.flickr.com/3008/3319714470_c05a5cb5a8_m.jpg" alt="Whitlow's on Wilson" />
    </a>
    <a href="#" title="image1">
      <img src="http://img.redocn.com/201010/3/599750_1286086064SSce.jpg" alt="image1"/>
    </a>
  </div>

  <div class="box col3">
      <a href="http://www.flickr.com/photos/nemoorange/3319714470/" title="Whitlow's on Wilson by nemoorange, on Flickr">
      	<img src="http://farm4.static.flickr.com/3008/3319714470_c05a5cb5a8_m.jpg" alt="Whitlow's on Wilson" />
      </a>
      <a href="#" title="image2">
        <img src="http://cdn.duitang.com/uploads/item/201205/29/20120529130211_CwrUP.thumb.700_0.jpeg" alt="image2"/>
      </a> 
      <a href="#" title="image1">
        <img src="http://img.redocn.com/201010/3/599750_1286086064SSce.jpg" alt="image1"/>
   	  </a>
  </div>


</div>



<style type="text/css">
/*top-bar style setting*/
nav section ul li a {
  font-family: "Comic Sans MS", cursive, sans-serif;

}



/* image hover effects */

.grid {
    /*padding: 20px 20px 100px 20px;*/
    /*max-width: 1300px;*/
    margin: 0 auto;
    list-style: none;
    text-align: center;
}
 
.grid li {
    display: inline-block;
    /*width: 440px;*/
    margin: 0;
    padding: 0px;
    text-align: left;
    position: relative;
}

.grid figure {
    margin: 0;
    position: relative;
}

.grid figure img {
    max-width: 100%;
    display: block;
    position: relative;
}
.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px;
    background: #2c3f52;
    color: #ed4e6e;
}



.grid figcaption h3 {
    margin: 0;
    padding: 0;
    color: #fff;
}
 

 
.grid figcaption a {
    text-align: center;
    /*padding: 5px 10px;*/
    border-radius: 2px;
    display: inline-block;
    background: #ed4e6e;
    color: #fff;
}

@media screen and (max-width: 31.5em) {
    .grid {
        padding: 10px 10px 100px 10px;
    }
    .grid li {
        width: 100%;
        min-width: 300px;
    }
}


.cs-style-2 figure img {
    z-index: 10;
    transition: transform 0.4s;
}
 
.no-touch .cs-style-2 figure:hover img,
.cs-style-2 figure.cs-hover img {
    transform: translateY(-90px);
}

.cs-style-2 figcaption {
    height: 90px;
    width: 100%;
    top: auto;
    bottom: 0;
}

.cs-style-2 figcaption a {
    position: absolute;
    right: 20px;
    top: 30px;
}


/*  vote up & down */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}




.up{
  margin-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius:5px;
  background: #2c3f52;
  color:rgba(255,255,255,0.5);
  float:left;
  font-size:20px;
  height:100%;
  line-height:130%;
  text-align:center;
  transition:all .2s linear;
  width: 49%;
}

.up:hover{
  background:#2ecc71;
  color:#fff;
  cursor:pointer;
}

.down{
  margin-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius:5px;
  background: #2c3f52;
  color:rgba(255,255,255,0.5);
  float:right;
  font-size:20px;
  height:100%;
  line-height:130%;
  text-align:center;
  transition:all .2s linear;
  width: 48%;
}


.down:hover{
  background:#e74c3c;
  color:#fff;
  cursor:pointer;
}


.down{margin-left:2px;}

.report{
  margin-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius:5px;
  background: #2c3f52;
  color:rgba(255,255,255,0.5);
  float:left;
  font-size:20px;
  height:100%;
  line-height:130%;
  text-align:center;
  transition:all .2s linear;
  width: 100%;
}

.report:hover{
  background:#9b59b6;
  color:#fff;
  cursor:pointer;
}


.check{

  margin-top: 7px;
  margin-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius:5px;

  height: 26px;
	visibility: hidden;
  background:#f65330;
  color:#fff;
  cursor:pointer;
  font-size:20px;
  line-height:130%;
  position: absolute;
  text-align:center;
  /*padding-left:20px;*/
  right:-100px;
  transition:all .2s linear;
  width:100%;
}

.check:after{
  /*content:'upvoted';*/
  /*font:20px/90px 'Montserrat';*/
  font-style:italic;
  height:inherit;
  padding-left:0px;
}






.votedUp{
	pointer-events: none;
	visibility: visible;
  	background:  #2ecc71;
  	right: 0px;
}
.votedDown{
	pointer-events: none;
	visibility: visible;
  	background: #e74c3c;
  	right: 0px;
}


.scaleDown{
  transform:scale(0);
}


.oldTag{
	height: 50%;
}

.newTag{
	height: 50%;
}



</style>


<ul class="grid cs-style-2">
    <li>
        <figure>
		<img src="http://codropspz.tympanus.netdna-cdn.com/codrops/wp-content/uploads/2013/06/CaptionHoverEffect31.png" alt="CaptionHoverEffect3" width="814" height="331" class="alignnone size-full wp-image-15511">

            <figcaption>
                <h3>Camera</h3>
                <span>Jacob Cummings</span>
                <a href="http://dribbble.com/shots/1115632-Camera">Take a look</a>
            </figcaption>
        </figure>
    </li>
    <li>
        <figure>
            <!-- ... -->
        </figure>
    </li>
    <!-- ... -->
</ul>






